<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-8">
            <p>
                <h4>
                  <%= current_user.first_name %>
                </h4>
            </p>

            <p>
                <h4>
                  <%= current_user.last_name %>
                </h4>
            </p>
            <p>
              <i class="glyphicon glyphicon-envelope"></i><%= current_user.email %>
              <br />
            <!-- Split button -->
            <div class="btn-group">
              <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </br>
  <p><b>Reviews</b></p>
  </br>

  <% current_user.reviews.each do |r| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
            </div><!--/panel-heading-->
            <div class="panel-body" itemprop="reviewBody">
              <p><%= r.body %></p>

            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <small>
                <span itemprop="name"><%= r.user.full_name %>></span>
              </small>
            </span><!--/author schema -->


              <span class="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1">
                  <span itemprop="ratingValue"><%= r.rating %></span> /
                <span itemprop="bestRating"> stars </span>
              </span><!--/reviewRating-->
              <% r.rating.to_i.times do %>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <% end %>

            </div><!--/panel-body-->
            <div class="panel-footer clearfix">

            </div><!--/panel-footer-->
          </div><!--/panel-->
        </div><!--/col-sm-6-->
      </div>
      </div>
  <% end %>
</div>
