<%= link_to 'New Book', new_book_path, class: 'btn btn-primary' %>

    <% @books.each_slice(3) do |books| %>
        <div class="row">
          <% books.each do |book| %>
              <div class="col-xs-4" align="center">
              <div class="card">
                <%= image_tag book.image, class: "card-img-top", width: '150rem' %>
                <div class="card-block">
                  <h4 class="card-title"><%= book.title %></h4>
                  <p class="card-text">by <%= book.author %></p>
                  <%= link_to 'Details', book_path(book), class: "btn btn-primary" %>
                </div>
              </div>
              </div>
        <% end %>
        </div>
    </br>
    <% end %>


<div class="row">
  <div class="col-xs-offset-4 col-xs-4" align="center">
    <%= paginate @books %>
  </div>
</div>
