    <%= form_for @book, html:{class: ' container'} do |f| %>
        <div class="row">
          <div class="col-xs-3 col-sm-offset-3">
            <label for="title">Title</label>
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>
        </br>

        <div class="row">
            <div class="col-xs-3 col-sm-offset-3">
              <label for="author">Author</label>
              <%= f.text_field :author, class: "form-control" %>
            </div>
        </div>
        </br>

        <div class="row">
          <div class="col-xs-3 col-sm-offset-3">
            <label for="author">Image</label>
            <%= f.file_field :image %>
          </div>
        </div>
        </br>


        <div class="row">
          <div class="col-xs-3 col-sm-offset-3">
            <%= f.submit :submit, class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>


